@font-face {
  font-family: myFirstFont;
  src: url(../assets/junkdog-maisfontes.2fbd/junkdog.otf);
}

body {
  background-color: #040503 !important;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* social icons */
.addres_and_socialLinks {
  background-color: #040503;
  color: white;
  display: flex;
  align-items: center;
  /* padding: 6px 6px; */
  font-size: 14px;
  justify-content: space-around;
}

.addres_and_socialLinks div {
  display: flex;
  align-items: center;
  gap: 6px
}

.locationP {
  background-color: white;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  border-radius: 100%;
}

.locationP ion-icon {
  color: black;
  font-size: 15px;
}



/* nav bar */
nav #logo {
  height: 90px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .links a {
  text-decoration: none;
  color: #040503;
  text-transform: capitalize;
}

nav .links button {
  font-weight: 600;
  border: none;
  /* background-color: red; */
  font-size: 18px;
  padding: 16px 40px;
  border-radius: 30px;
  margin-left: 40px;
}

/* hero section */
section {
  height: 75vh;
  width: 100%;
  background-size: 100% 100%;
}

#key_back {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  mix-blend-mode: soft-light;
}

#back_section {
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-left: 40px;
}

.heroSection .heroImg img {
  height: 100vh;
  margin-top: -200px;
  /* width: 60%; */
  position: relative;
  z-index: -1;
}

.heroContant {
  margin-left: 80px;
}

#orderBtn {
  background-image: url(../assets/order_vector.png);
  color: white;
  height: 60px;
  width: 200px;
  border: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 800;
  font-size: 18px;
  background-color: transparent
}

.textContant {
  font-family: myFirstFont;
  font-size: 100px;
  line-height: 1.7ch;
}

.welcome {
  font-family: myFirstFont;
  font-size: 20px;
}

/* marquee */
.marquee {
  background-color: #F15F22;
  height: 101px;
  display: flex;
  align-items: center;
  margin-top: -40px;
  z-index: 100;

}

.insideMarquee {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.insideMarquee h1 {
  letter-spacing: 0.1ch;
  font-size: 34.06px;
  font-family: myFirstFont;
}

/* product category */
.productsCategory {
  text-transform: capitalize;
  line-height: 7ch;
  margin-top: 60px;
  text-align: center;
  color: white;
}

.mainProduct {
  display: flex;
  align-items: center;
  background-image: url(../assets/pr1back.png);
  width: 650px;
  height: 50%;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainProduct img {
  height: 470px;
}

/* for product line 1 */
.product01 {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px
}

.secondProduct {
  height: 67vh;
  width: 630px;
}

.secondProduct .secon02 {
  background-image: url(../assets/pr2Back.png);
  /* width: 500px; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.secondProduct .secon02 img {
  height: 230px;
}

.secondProduct .secondInsideSecond {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 47%;
  margin-top: 10px;
}

.secondProduct .secondInsideSecond .sec01 {
  background-image: url(../assets/pr3back.png);
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.secondProduct .secondInsideSecond .sec01 img {
  height: 70%;
}

.secondProduct .secondInsideSecond .sec01 div h1 {
  margin-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

.secondProduct .secondInsideSecond .sec02 {
  background-image: url(../assets/pr4back.png);
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.secondProduct .secondInsideSecond .sec02 div h1 {
  margin-left: 20px;
  font-size: 25px;

  margin-bottom: 10px;
}

.secondProduct .secondInsideSecond .sec02 img {
  height: 70%;
}

/* for product line 2 */

.mainProduct1 {
  display: flex;
  align-items: center;
  background-image: url(../assets/pr5back.png);
  width: 650px;
  height: 50%;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainProduct1 img {
  height: 470px;
}

.product02 {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px
}

.secondProduct1 {
  height: 67vh;
  width: 630px;
}

.secondProduct1 .secon02 {
  background-image: url(../assets/pr6.png);
  /* width: 500px; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.secondProduct1 .secon02 img {
  height: 230px;
}

.secondProduct1 .secondInsideSecond {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 47%;
  margin-top: 10px;
}

.secondProduct1 .secondInsideSecond .sec01 {
  background-image: url(../assets/pr7back.png);
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.secondProduct1 .secondInsideSecond .sec01 img {
  height: 40%;
}

.secondProduct1 .secondInsideSecond .sec01 div h1 {
  margin-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

.secondProduct1 .secondInsideSecond .sec02 {
  background-image: url(../assets/pr8.png);
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.secondProduct1 .secondInsideSecond .sec02 div h1 {
  margin-left: 20px;
  font-size: 25px;

  margin-bottom: 10px;
}

.secondProduct1 .secondInsideSecond .sec02 img {
  height: 70%;
}

/* end product 2 */
.whiteOrderBtn {
  background-color: transparent;
  border: none;
  background-image: url(../assets/btnwhiteOrder.png);
  background-size: cover;
  width: 180px;
  height: 63px;
  font-weight: 700;
  cursor: pointer;
}

/* welcome product */
.welcomeProduct {
  background-image: url(../assets/back01.png);
  color: white;
  /* background-color: black; */
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcomeProduct img {
  height: 40vw;
  position: relative;
  bottom: 50px;
  margin-left: -11vw;
}

.welcomeProduct .welcomeText {
  margin-left: 100px;
  display: flex;
  margin-top: -60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeProduct .welcomeText .welcomeH1 {
  letter-spacing: 0.2ch;
  font-family: myFirstFont;
  text-transform: uppercase;
  font-size: 30px;
}

.welcomeProduct .welcomeText .welcomeH1 .LowKey {
  font-size: 106px;
  position: relative;
  top: 35px;
  z-index: 1;
  margin-left: 20px;
  text-shadow: 0px 29px 20px #0000006e;
}

.welcomeProduct .welcomeText .Dispensary {
  font-size: 120px;
  color: #FCD300;
  position: relative;
  bottom: 30px;
}

.welcomeProduct .welcomeText p {
  text-align: center;
  width: 500px;
  margin-top: -35px;
}

.welcomeProduct .welcomeText .btnForWelcome {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.yellowBtn {
  font-size: 20px;
  font-family: myFirstFont;
  background-image: url(../assets/yelowBtn.png);

}

.welcomeProduct .welcomeText .btnForWelcome .btn2 {
  background-color: transparent;
  border: none;
  background-image: url(../assets/btnwhiteOrder.png);
  background-size: cover;
  width: 180px;
  height: 63px;
  font-weight: 900;
  font-size: 20px;
  font-family: myFirstFont;
  cursor: pointer;
  text-transform: uppercase;
}

/* slider class */
.sliderClass {
  background-color: white;
  height: 141vh;
  width: 100%;
}

.sliderClass img {
  position: absolute;
  height: 141vh;
  width: 100%;
  object-fit: cover;
  filter: opacity(30%);

}

.sliderClass .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  text-transform: uppercase;
  z-index: 100;
}

.slider-card .mainBack .product10 {
  z-index: 100;
}

.sliderClass .content p {
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
}

.sliderClass .content h2 {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  z-index: 1;
}

.sliderClass .content h1 {
  font-size: 40px;
  font-family: myFirstFont;
  font-weight: 900;
  letter-spacing: .2ch;
  color: #F15F22;
  z-index: 1;
}

/* slider main */
.slider {
  margin-bottom: 30px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.25);
  opacity: 1;
  /* background: white; */
  color: black;
  z-index: 10;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
}

.slider-card {
  /* background: #F15F22;  */
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  align-items: center;
  line-height: 1.7ch;
  transform:
    rotate3d(.1, -.866, 0, 35deg) rotate(10deg);
  height: 70vh;
  width: 25vw;
  transition:
    transform .4s ease,
    box-shadow .4s ease;
  border-radius: .5em;
  opacity: 0.5;

}


.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

/* end */